.Flip {
  &:hover {
    .card {
      transform: rotateY(180deg);
    }
  }
  .scene {
    width: 450px;
    height: 800px;
    perspective: 30em;
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translate(-50%);
    background: #121212;

    .card {
      width: 246px;
      height: 493px;
      position: relative;
      transition: transform 0.5s;
      transform-style: preserve-3d;
      margin: auto;
      margin-top: 152px;

      .face {
        width: 100%;
        height: 100%;
        color: #000;
        line-height: 15em;
        text-align: center;
        position: absolute;
        backface-visibility: hidden;

        &.front {
          background-color: #121212;
        }

        &.back {
          background-image: url("../images/phone1.png");
          background-size: cover;
          transform: rotateY(180deg);
        }
      }
    }
  }
}
